.t-pano-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .tippy-box {
        max-width: 1000px !important;
    }

    .tippy-box[data-animation="fade"][data-state="hidden"] {
        opacity: 0;
    }

    [data-tippy-root] {
        max-width: calc(100vw - 10px);
    }

    .tippy-box {
        position: relative;
        border-radius: 4px;
        font-size: 14px;
        line-height: 1.4;
        white-space: normal;
        outline: 0;
        transition-property: transform, visibility, opacity;
    }

    .tippy-box[data-placement^="top"] > .tippy-arrow {
        bottom: 0;
    }

    .tippy-box[data-placement^="top"] > .tippy-arrow:before {
        bottom: -7px;
        left: 0;
        border-width: 8px 8px 0;
        border-top-color: initial;
        transform-origin: center top;
    }

    .tippy-box[data-placement^="bottom"] > .tippy-arrow {
        top: 0;
    }

    .tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
        top: -7px;
        left: 0;
        border-width: 0 8px 8px;
        border-bottom-color: initial;
        transform-origin: center bottom;
    }

    .tippy-box[data-placement^="left"] > .tippy-arrow {
        right: 0;
    }

    .tippy-box[data-placement^="left"] > .tippy-arrow:before {
        border-width: 8px 0 8px 8px;
        border-left-color: initial;
        right: -7px;
        transform-origin: center left;
    }

    .tippy-box[data-placement^="right"] > .tippy-arrow {
        left: 0;
    }

    .tippy-box[data-placement^="right"] > .tippy-arrow:before {
        left: -7px;
        border-width: 8px 8px 8px 0;
        border-right-color: initial;
        transform-origin: center right;
    }

    .tippy-box[data-inertia][data-state="visible"] {
        transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
    }

    .tippy-arrow {
        width: 16px;
        height: 16px;
    }

    .tippy-arrow:before {
        content: "";
        position: absolute;
        border-color: transparent;
        border-style: solid;
    }

    .tippy-content {
        position: relative;
        padding: 5px 9px;
        z-index: 1;
    }

    .tippy-box[data-theme~='t-pano-tip'] {
        background-color: #333;
        color: #eee;
    }

    .tippy-box[data-theme~='t-pano-tip'][data-placement^='top'] > .tippy-arrow::before {
        border-top-color: #333;
    }

    .tippy-box[data-theme~='t-pano-tip'][data-placement^='bottom'] > .tippy-arrow::before {
        border-bottom-color: #333;
    }

    .tippy-box[data-theme~='t-pano-tip'][data-placement^='left'] > .tippy-arrow::before {
        border-left-color: #333;
    }

    .tippy-box[data-theme~='t-pano-tip'][data-placement^='right'] > .tippy-arrow::before {
        border-right-color: #333;
    }
}

.t-pano-file-list {
    position: absolute;
    width: 100%;
    padding: 8px 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    background-color: rgba(20, 20, 20, 0.4);
    border-radius: 5px;
    display: none;
    overflow-x: scroll;
    overflow-y: hidden;
    /* dom不可选中 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &::-webkit-scrollbar {
        width: 5px;
        height: 6px;
    }

    /* 轨道颜色 */
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #dddddd70;
    }

    &::-webkit-scrollbar-thumb:hover {
        border-radius: 10px;
        background-color: #404040;
    }

    &::-webkit-scrollbar-thumb:active {
        border-radius: 10px;
        background-color: #404040;
    }

    .t-pano-file-list-box {
        margin: 0 16px;
        position: relative;
    }

    .t-pano-file-list-box:nth-last-child(1) {
        padding-right: 18px;
    }
    .t-pano-file-list-box-img {
        width: 180px;
        height: 100px;
        background-color: #ffffffcc;
    }
    .t-pano-file-list-box-p {
        position: absolute;
        left: 0;
        bottom: 0;
        text-align: center;
        width: 180px;
        color: #ffffff;
    }

    @media (max-width: 700px) {
        .t-pano-file-list-box-img {
            width: 120px;
            height: 70px;
            background-color: #ffffffcc;
        }
        .t-pano-file-list-box-img {
            width: 120px;
            height: 70px;
            background-color: #ffffffcc;
        }
        .t-pano-file-list-box-p {
            position: absolute;
            left: 0;
            bottom: 0;
            text-align: center;
            width: 120px;
            color: #ffffff;
        }
    }
}