:root .t-pano-theme-light {
    --t-pano-bg-color: #fff;
    --t-pano-text-color: #333;

    --t-pano-popover-bg-color:#fff;
    --t-pano-popover-border-color:#e9e9e9;
    --t-pano-popover-title-color:#666;
    --t-pano-popover-selected-color:#eee;

    --t-pano-menus-svg-color: #333;

    --t-pano-content-scrollbar-track-piece:#f1f1f1;
    --t-pano-content-scrollbar-thumb:#c1c1c1;
    --t-pano-content-scrollbar-thumb-hover:#a9a9a9;
    --t-pano-content-scrollbar-thumb-active:#787878;

    --t-pano-menus-tip-bg-color: #333;
    --t-pano-menus-tip-text-color: #eee;
}

:root .t-pano-theme-dark {
    --t-pano-text-color: #ccc;
    --t-pano-bg-color: #1e2022;

    --t-pano-popover-bg-color:#2A2A2B;
    --t-pano-popover-border-color:#505050;
    --t-pano-popover-title-color:#ccc;
    --t-pano-popover-selected-color:#505050;

    --t-pano-menus-svg-color: #cccccc;

    --t-pano-content-scrollbar-track-piece:#404040;
    --t-pano-content-scrollbar-thumb:#dddddd50;
    --t-pano-content-scrollbar-thumb-hover:#dddddd70;
    --t-pano-content-scrollbar-thumb-active:#dddddda0;

    --t-pano-menus-tip-bg-color: #eee;
    --t-pano-menus-tip-text-color: #333;
}